@import "tailwindcss";

body{
  background: #d8e7f0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.font-pacifico{
  font-family: 'Pacifico', cursive;
}
.underline-effect {
  position: relative;
}
.input-field {
  padding: 8px 10px;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  cursor:pointer;
}
.input-field:focus {
  border-color: #3b82f6;
  outline: none;
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3b82f6;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.box{
  border: 1px solid #3b82f6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

